# The mongodb stores user info and apiToken
ENABLE_AUTH=mongo # enable auth or not, if false, all apiToken will be allowed
MONGO_URI='mongodb://localhost:27017'
MONGO_DB='web3research' # where the apiToken is stored
MONGO_COLL='user' # where the apiToken is stored
MONGO_APITOEKN_KEY='apiToken' # where the apiToken is stored
MONGO_WHITELIST='ccccc' # the backdoor apiToken

# or you can use the postgresql to check the apiToken
ENABLE_AUTH=pg
PG_URI="postgres://default:password@localhost:5432/web3research" # postgresql uri/DSN
PG_QUERY="SELECT author_id FROM example_db.example_table WHERE api_token=\$1 LIMIT 1" # the query SQL trying to find one match $1. BACKSLAH is required to escape the $1 in the string.

# The clickhouse stores the blockchain rawdata
CLICKHOUSE_URI="http://proxy:password@localhost:8123" # clickhouse server

ADMIN_KEY="abcdefghijklmnopqrstuvwxyz" # the admin key

# the proxy listen address
LISTEN=":18123" # listen address

